@charset "utf-8";

input[type="text"]:focus,input[type="password"]:focus{
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 4px rgba(82,168,236,0.8);
  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 4px rgba(82,168,236,0.8);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 4px rgba(82,168,236,0.8)
}

.header a{position:absolute; top:60px; right:50px; font-size:12px; color:#666; height:20px; line-height:20px;background:url(../../images/v3/iphone.png) -25px -290px no-repeat; text-indent:20px;}
.header a:hover{color:#009fe3;}
.header h3{position:absolute; top:56px; left:214px; height:24px; font:18px/24px 'Microsoft YaHei'; border-left:1px solid #afafaf; padding:0 12px;}

.register_content{width:1200px; margin:0 auto; position:relative;}
.bg{height:34px;background:url(../../images/v3/aaa.png) left 0 repeat-x;}
.step_ul{padding:0 40px; margin-top:32px; height:64px; background:url(../../images/v3/iphone.png) 0 -314px no-repeat;}
.step1{padding:0 40px; height:64px; background:url(../../images/v3/iphone.png) center -381px no-repeat;}
.step2{padding:0 40px; height:64px; background:url(../../images/v3/iphone.png) center -314px no-repeat;}
.step_ul li{float:left; width:540px; height:64px; text-align:center; font:bold 16px/64px '宋体'; color:#fff;}
.step1 .li1{background:#009fe3;}
.step1 .li2{background:#d1d1d1; margin-left:40px;}
.step2 .li1{background:#d1d1d1;}
.step2 .li2{background:#009fe3; margin-left:40px;}

#register_form{padding:60px 40px 88px 40px;}
.div_form{height:48px; margin-bottom:24px;}
.div_form label{float:left; width:146px; font-size:14px; color:#333; text-align:right; height:48px; line-height:48px;}
.div_form .input_div{float:left; width:620px;}
#username,#mail,#password1,#password2,#varcode{width:308px; height:26px;line-height:26px;padding:10px 5px; border:1px solid #aeaeae; border-radius:4px; color:#666;}
.input_div span{ margin-left:6px;}
#btn, .btn2, .success_login, .login_btn{width:460px; height:60px; text-align:center; font:bold 16px/60px '宋体'; border:0 none; border-radius:4px; color:#fff; cursor:pointer; background:#009fe3;letter-spacing:6px;}
#btn{width:320px;}
#btn:hover, .btn2:hover, .success_login:hover,.login_btn:hover{background:#0697d5;}
.code_img{width:70px; height:48px;}
.change{color:#666; text-decoration:underline; margin-left:10px;}
.input_div span{background:url(../../images/v3/text.png) no-repeat;padding-left:25px; padding-bottom:6px;}
.input_div5 span{background:0 none;}
.check2{background:url(../../images/v3/check2.png) no-repeat; padding-left:22px; padding-bottom:4px;}
.check1{background:url(../../images/v3/check1.png) no-repeat; padding-left:22px; padding-bottom:4px;}

.reg_login{width:270px; height:240px; border:2px solid #e1e1e1; border-top:2px solid #0089e1; position:absolute; top:190px; right:40px; background:url(../../images/v3/smile.png) center 35px no-repeat;}
.btn2{position:absolute; left:50px; top:160px; width:170px; height:38px; line-height:38px;}
.reg_login p{text-align:center; margin-top:130px; line-height:20px;}

/*注册成功*/
.success{height:65px; width:220px; background:url(../../images/v3/success.png) no-repeat; font:16px/65px '宋体'; text-indent:76px; margin:75px auto 45px;}

.success_login{display:block; width:460px; margin:0 auto; margin-bottom:130px;}

/*login*/
.login_bg{width:100%; min-width:1200px; height:600px; background:url(../../images/v3/login_banner.png) center center no-repeat #00a0e9;}
.form{width:1200px; margin:0 auto;position:relative;}
#login_form{width:350px; position:absolute; top:130px; right:70px;}
#login_form h2{background:url(../../images/v3/iphone.png) left -452px no-repeat; padding-left:46px; color:#009fe3; font-size:16px; font-weight:bold; height:20px; line-height:20px; margin-bottom:24px;}

.username, .pw{width:290px; padding:10px 5px 10px 45px; border:1px solid #009fe3; height:20px; line-height:20px; margin-bottom:10px; border-radius:4px; color:#666;}
.div_user, .div_pw{position:relative;}
.div_user span, .div_pw span{position:absolute; left:15px; top:12px; width:16px; height:18px; background:url(../../images/v3/iphone.png) 0 -480px no-repeat; z-index:1;}
.div_pw span{background-position:0 -506px;}

.div_box{margin-top:5px; height:20px; line-height:20px; position:relative;}
.div_box a, .login_reg{position:absolute; right:5px;; top:0; color:#009fe3;}
.login_reg{font-weight:bold;}
.div_box a:hover, .login_reg:hover{text-decoration:underline;}
.div_box input{position:absolute; top:4px; left:0;}

.login_btn{display:block; width:340px;box-shadow:0 2px 1px #999; margin-top:20px;}
#login_form h4{height:40px; line-height:40px; position:relative;}

.form .button{position:absolute; left:135px; top:179px; width:190px; height:40px;text-align:center; line-height:40px; font-size:16px; color:#009fe3; font-weight:bold;}












